.searchform-controls {
  padding-top: 10px;
}
.sb-section h2 {
  text-transform: Capitalize;
}
.searchform-controls input {
    width: 4.2em;
    background-color: $brand-red;
    color: $brand-white;
    border: none;
    margin-left: 2px;
}
.searchform-label {
  font-size: 0.9em;
  font-family: $univers-condensed;
  font-weight:normal;
}
.searchform-input-wrapper, .searchform-input-wrapper select{
  background: white;
  font-size: 0.9em;
  font-family: $univers-condensed;
  font-weight:normal;
  width: 100%;
}
.searchform {
  label {
    display:block;
  }
  #s {
    width: 40%;
    float: left;
  }
  #searchsubmit {
    width: 4.2em;
    float: left;
    background-color: $brand-red;
    color: $brand-white;
    border: none;
    margin: 0 5px;
  }
}

.search-form button {
  background-color: $brand-red;
  border-color: $brand-red;
  color: $brand-white;
}

.widget_search {
  label {

  }
  #s {
    width:64%;
  }
  #searchsubmit {
    width:70px;
    margin: 0 0 0 2px;
  }
}
